@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Bold'), local('GTWalsheimPro-Bold'),
        url('/public/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GTWalsheimPro-Medium'),
        url('/public/fonts/fGTWalsheimPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
        url('/public/fonts/GTWalsheimPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Thin'), local('GTWalsheimPro-Thin'),
        url('/public/fonts/GTWalsheimPro-Thin.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.mainContainer {
    position: relative;
    background-color: red;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(19,41,104,.1);
    max-width: 100%;
    height: 174px;
    border-radius: 8px;
    margin-bottom: 24px;
    padding-bottom: 16px;
}

@media (min-width: 769px) {
    .mainContainer {
        padding: 0 32px;
        max-width: 57%;
    }}

.ctaContainer {
    display: flex;
    text-shadow: none;
    text-align: center;
    border: none;
    padding-top: 8px;
    margin: 8px 0;
    background: transparent;
    font-size: 14px;
}

div {
    margin: 8px 0;
}

@media (max-width: 769px) {
    .inputContainer {
    display: flex;
    flex-direction: initial;
}}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
}

.fromInput, .toInput {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    max-width: 40%;
    min-width: 20%;
    top: 50%;
    margin-left: 8px;
    padding: 0 8px;
    border: 1px solid #f1f2f6;
    border-radius: 8px;
    text-align: left;
    letter-spacing: .3px;
    background-color: #f1f2f6;
    box-shadow: none;
    caret-color: #a1a9c3;
    color: #132968;
}

.search {
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-left: 8px;
    text-align: center;
    line-height: 20px;
    padding: 0 16px;
    border: 0;
    border-radius: 8px;
    cursor: pointer !important;
    font-family: "GT Walsheim","Open Sans",Helvetica-Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color .2s linear;
    height: 54px;
    font-size: 16px;
    color: #fff;
    background-color: #fa6b6b;
}

.search:hover {
    background-color: #ff9999;
  }

.calenderDepart, .calenderReturn {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    top: 50%;
    padding: 0 8px;
    border: 1px solid #f1f2f6;
    text-align: left;
    letter-spacing: .3px;
    background-color: #f1f2f6;
    box-shadow: none;
    caret-color: #a1a9c3;
    color: #132968;
    min-width: 10%;
    max-width: 15%;
}

.calenderDepart {
    margin-left: 8px;
    border-radius: 8px 0 0 8px;
}

.calenderReturn {
    border-radius: 0 8px 8px 0;

}

input {
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    cursor: text !important;
    padding-left: 5px;
}

.passenger, .oneWay, input {
    background: transparent;
    font-family: "GT Walsheim Pro Regular", Arial, sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
}

svg {
    position: relative;
    top: 8px;
    left: 2px;
    width: 18px;
    height: 18px;
}

.navFooter {
    position: relative;
    right: 810px;
    top: 55px;
}

p {
    position: relative;
    left: 50px;
    width: 200px;
    font-family: "GT Walsheim Pro Regular", Arial, sans-serif;
}

.toggle-btn {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: lightgray;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.toggle-btn.toggled {
    background-color: skyblue;
}
  
.toggle-thumb {
    position: absolute;
    bottom: -6px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}
  
.toggle-btn.toggled .toggle-thumb {
    transform: translateX(20px);
}

.ctaSVG {
    top: 5px;
    transition: transform 0.2s ease-in-out;
}

.ctaSVGRotated {
    transform: scaleY(-1);
    transition: transform 0.2s ease-in-out;
}

.cityList.active {
    display: block;
    top: 85px;
    left: 31px;
}

.cityList {
    display: none;
    font-family: "GT Walsheim Pro Regular", Arial, sans-serif;
    position: absolute;
    padding: 8px 0px;
    margin-left: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset, rgba(19, 41, 104, 0.) 0px 16px 16px 0px;
    min-width: 140px;
    z-index: 1;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(19, 41, 104);
    cursor: pointer;
    background-color: white;
    transition: all 0.15s ease-in-out 0s;
    background-color: #f4f4f4;
}

.dropdownContainer {
    position: absolute;
    padding: 8px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset, rgba(19, 41, 104, 0.) 0px 16px 16px 0px;
    min-width: 140px;
    z-index: 1;
}
  
.dropdownItem {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(19, 41, 104);
    cursor: pointer;
    background-color: white;
    transition: all 0.15s ease-in-out 0s;
}
  
.dropdownItem:hover {
    background-color: #f4f4f4;
}
  
.selectedItem {
    font-weight: bold;
    position: relative;
}